.dikdik{
    text-align: center;
    height: 25rem;
    position: absolute;
    bottom: 10rem;
    right: 34%;
    filter: grayscale(100%);
    transition: .3s;
}

.dikdik:hover{
    filter: grayscale(0%);
}