html{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

@import"./_gallery.scss";
@import"./_button.scss";
@import"./_dikdik.scss";
@import"./_sheldon.scss";
@import"./_outro.scss";
@import"./_whanimation.scss";