.button{
    background-color: #265;
    width: 15rem;
    position: absolute;
    left: 50%;
    border-radius: 2rem;
    transition: .1s;;
    top: 50%;
    text-align: center;
}

.button:active{
    transform: scale(.7);
}

.button:hover{
    transform: translateY(-2rem);
}

a:any-link{
    color: black;
}
