.button{
    background-color: #265;
    width: 15rem;
    position: absolute;
    left: 50%;
    border-radius: 2rem;
    transition: .1s;;
    top: 50%;
}

.button:active{
    transform: scale(1.3);
}

a:any-link{
    color: white;
}
